.create_btn{
    border: none;
    padding: 7px 25px;
    background-color: black;
    color: #fff;
    border-radius: 7px;
}

.action_btn{
    color: #fff !important;
    padding: 5px 16px;
    border: none;
    margin-right: 10px;
    border-radius: 10px;
}

.action_btn svg {
    font-size: 17px;
    margin-bottom: 4px;
}

.view{
    background-color: #107856;
}
.edit{
    background-color: #046CFF;
}

.del{
    background-color: #E84640;
}

.form_div{
    width: 80%;
    margin: auto;
}

.input_div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.input_div input{
    width: 50%;
    margin-right: 20px;
}